<div class="card">
  <a href="/profile"> &larr; Back to Profile</a>
  <h2>Edit Post</h2>
  <form class="edit-post-form">
    <div>
      <label for="post-title">Post Title: </label>
      <input name="post-title" type="text" value=`{{post.title}}`/>
    </div>
    <div>
      <label for="post-body">Post Body: </label>
      <textarea name="post-body">{{post.post_body}}</textarea>
    </div>
    <button type="submit">Post It</button>
    <button type="delete" class="delete-post-btn">Delete It</button>
    <div>
      <a href=`/post/{{post.id}}`>{{post.comments.length}}</a>
    </div>
  <form class="new-comment-form">
  <div>
    <label for="post-body">Comment:</label>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">Comment It</button>
  </div>
  </form>
</div>


{{> commentData post.comments }}

<script src="/js/editPost.js"></script>
<script src="/js/deletePost.js"></script>
<script src="/js/comment.js"></script>