
<div class="card">
  <a href="/dashboard"> &larr; Back to Dashboard</a>
  <h2>Edit Comment:</h2>
  <form class="edit-comment-form">
    <div>
      <label for="comment-body">Comment:</label>
      <textarea name="comment-body">{{comment.comment_body}}</textarea>
    </div>

    <div>
      <button type="submit" id="edit-comment-button">Comment It</button>
    </div>
    <button type="delete" class="delete-comment-btn">Delete It</button>
  </form>
</div>

<script src="/js/editComment.js"></script>
<script src="/js/deleteComment.js"></script>